@use 'base/variables' as v;
@use 'base/mixin' as m;
@use 'sass:color';

.video {
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        background: linear-gradient(
            270deg,
            rgba(v.$morado, 60%),
            rgba(color.adjust(v.$morado, $lightness:-20%), 90%)
        );
        inset: 0;

        display: flex;
        align-items: center;
        
    }

    video {
        width: auto; //oara kis nivukes
        display: block;
       @include m.desktop {
            width: 100%;
       }
    }
}

.conte-video {
    z-index: 10;
    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }

    p {
        background-color: v.$rosa;
        display: inline-block;
        padding: 1rem;
        color: v.$blanco;
        font-weight: bold;
        text-transform: uppercase;
    }
}